<h1></h1>
<div ng-click="replaseToCourses()" ng-mouseenter="hideCourses = false;" ng-mouseleave="hideCourses = true;" ng-init="hideCourses = true;">
    <div class="tile tile-md" style="background-color: #f57c00">
        <img src="/Images/Icons-02.png" style="left:60px; top:85px; position:absolute" />
        <div class="manager-font" style="left: 234px; top: 100px; position: absolute; text-align: left"><strong>Courses</strong></div>
    </div>
</div>
<div ng-click="replaseToGroups()" ng-mouseenter="hideGroups = false;" ng-mouseleave="hideGroups = true;" ng-init="hideGroups = true;">
    <div class="tile tile-md" style="background-color: #5e35b1">
        <img src="/Images/Icons-03.png" style="left:60px; top:85px; position:absolute" />
        <div class="manager-font" style="left: 234px; top: 100px; position: absolute; text-align: left"><strong>Groups</strong></div>
    </div>
</div>
<br>
<div ng-click="replaseToWordSuites()" ng-mouseenter="hideSuites = false;" ng-mouseleave="hideSuites = true;" ng-init="hideSuites = true;">
    <div class="tile tile-md" style="background-color: #00796b">
        <img src="/Images/Icons-01.png" style="left:60px; top:85px; position:absolute" />
        <div class="manager-font" style="left: 234px; top:65px; position: absolute; text-align:left"><strong>Word<br>Suites</strong></div>
    </div>
</div>
<div ng-click="replaseToWords()">
    <div class="tile tile-md" style="background-color: #6d4c41">
        <img src="/Images/Icons-04.png" style="left:60px; top:85px; position:absolute" />
        <div class="manager-font" style="left: 234px; top:65px; position: absolute; text-align:left"><strong>Global<br>Dictionary</strong></div>
    </div>
</div>